<section>
    <header class="toolbar toolbar-header">
        <div class="toolbar-actions">
            <div class="btn-group">
                <router-link class="btn btn-default" to="/presupuesto/crear">
                    <span class="icon icon-doc pr-4"></span>
                    Nuevo
                </router-link>
                <router-link class="btn btn-default" to="/clientes">
                    <span class="icon icon-menu pr-4"></span>
                    Listado
                </router-link>
                <button class="btn btn-default" v-on:click = "onSubmit('l')">
                    <span class="icon icon-floppy pr-4"></span>
                    Guardar
                </button>
                <button class="btn btn-default" v-on:click = "onSubmit('o')">
                    <span class="icon icon-floppy pr-4"></span>
                    Guardar y añadir otro
                </button>
                <button class="btn btn-default" v-on:click = "resetForm">
                    <span class="icon icon-arrows-ccw pr-4"></span>
                    Limpiar
                </button>
            </div>
        </div>
    </header>
    <h3 class="form-title">{{accion}} presupuestos</h3>
    <section class="form-custom">
        <b-form @submit.prevent="onSubmit">
            <div class="float-right">
                <b-form-group label = "Nro. Presupuesto" label-for="id_rif">
                    <b-form-input type = "text"></b-form-input>
                </b-form-group>
                    
            </div>
            <b-row>
                <b-col cols = "3">
                    <b-form-group label = "RIF / C.I" label-for="id_rif">
                        <b-form-input type = "text" :disabled="is_update" v-mask = "'A-#########'"></b-form-input>
                    </b-form-group>
                </b-col>
                <b-col cols = "1" class="mt-4 pt-2">
                    <b-button  variant="success" size ="sm" v-on:click="openModelService">
                        <span class="icon icon-plus-circled" style="color: white;"></span>
                    </b-button>
                </b-col>
                <b-col cols = "6">
                    <b-form-group label = "Razon social" label-for="id_raszon_social">
                        <b-form-input type = "text" id="id_raszon_social"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            
            <div class="clearfix"></div>
        </b-form>

        <br>
        
        <b-button  variant="success" v-on:click="openModelService">
            <span class="icon icon-plus-circled" style="color: white;"></span>
        </b-button>
        <b-button  variant="success" class="ml-2">
            <span class="icon icon-minus-circled" style="color: white;"></span>
        </b-button>
        <!-- table -->
        <b-table head-variant="dark" :items="data" :fields="fields" hover small caption-top responsive class="mt-2">
            <template v-slot:cell(check) = "data">
                <div class="text-center">
                    <b-form-checkbox :value="data.item.codigo" @change="select(data.item.codigo)"></b-form-checkbox>
                </div>
            </template>
        </b-table>

        <!-- total -->
        <div class="d-flex flex-row-reverse bd-highlight">
            <b-row>
                <b-col cols = "12">
                    <b-form-group label ="Total" label-for="id_total">
                        <b-form-input id="id_total" class="float-right" disabled v-model = "form.total"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            <b-row class="ml-3 mr-3">
                <b-col cols = "12">
                    <div class="form-group">
                        <label>I.V.A ({{form.porcentaje_iva}}%)</label>
                        <b-form-input id="id_sub_total" class="float-right" v-model = "form.iva" disabled></b-form-input>
                    </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols = "12">
                    <b-form-group label ="Sub - total" label-for="id_sub_total">
                        <b-form-input id="id_sub_total" class="float-right" disabled v-model = "form.sub_total"></b-form-input>
                    </b-form-group>
                </b-col>
            </b-row>
            
        </div>
    </section>
    <AddServiceTable @makeAddItem="setAddItem"></AddServiceTable>
</section>